<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2018.11.28</MinVersion>
    <pubDate>Wed, 28 Nov 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Space free column</Name>
    <Description>Space free column. Require Window Vista or higher.</Description>
  </en>
  <ja>
    <Name>空き領域カラム</Name>
    <Description>空き領域カラム ※Window Vista 以降</Description>
  </ja>
</TablacusExplorer>
