<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.16</Version>
    <MinVersion>2020.3.16</MinVersion>
    <pubDate>Thu, 19 Mar 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,1:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Badge</Name>
    <Description>Assign and sort items with a 1 to 5 rating system displayed as an icon badge</Description>
  </en>
  <ja>
    <Name>バッジ</Name>
  </ja>
  <zh>
    <Name>徽章</Name>
  </zh>
</TablacusExplorer>
