<TablacusExplorer>
  <General>
    <Version>1.14</Version>
    <MinVersion>2025.5.13</MinVersion>
    <pubDate>Thu, 15 May 2025 00:00:00 GMT</pubDate>
    <Options>Common:0,5,6,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Preview in background</Name>
    <Description>Displays the contents of the selected image file as background behind the file list.</Description>
  </en>
  <fr>
    <Name>Aperçu en arrière-plan</Name>
    <Description>Afficher le contenu des fichiers image sélectionnés en arrière-plan.</Description>
  </fr>
  <ja>
    <Name>背景でプレビュー</Name>
  </ja>
  <pt>
    <Name>Previsualização como fundo</Name>
    <Description>Mostra o conteúdo da imagem seleccionada como fundo por trás da lista de ficheiros.</Description>
  </pt>
  <zh>
    <Name>分頁上預覽</Name>
  </zh>
</TablacusExplorer>
