<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2021.3.2</MinVersion>
    <pubDate>Sat, 06 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:0,5,6,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Preview in background</Name>
    <Description>Displays the contents of selected image files in a background.</Description>
  </en>
  <ja>
    <Name>背景でプレビュー</Name>
  </ja>
</TablacusExplorer>
