<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2022.1.16</MinVersion>
    <pubDate>Wed, 05 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Change tab name</Name>
    <Description>Display a specific name, instead of the folder name, on tab for a specific folder.</Description>
  </en>
  <fr>
    <Name>Modifier le nom</Name>
    <Description>Afficher un nom spécifique sur l&apos;onglet d&apos;un dossier, au lieu du nom de dossier</Description>
  </fr>
  <ja>
    <Name>タブ名を変更</Name>
    <Description>タブにフォルダ名ではない任意の名前を付けます。</Description>
  </ja>
  <zh>
    <Name>變更分頁名稱</Name>
  </zh>
</TablacusExplorer>
