<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2017.6.10</MinVersion>
    <pubDate>Sat, 10 Jun 2017 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Quickly open menus</Name>
    <Description>Open menus quickly by simplifying menus.</Description>
  </en>
  <ja>
    <Name>クイック メニュー</Name>
    <Description>メニューを簡素化して素早く開くようにします。</Description>
  </ja>
</TablacusExplorer>
