<TablacusExplorer>
  <General>
    <Version>1.17</Version>
    <MinVersion>2021.1.14</MinVersion>
    <pubDate>Sat, 15 Jan 2022 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Quicker menu display</Name>
    <Description>Quicker menu display by simplifying menus.</Description>
  </en>
  <fr>
    <Name>Affichage plus rapide du menu</Name>
    <Description>Afficher de menu plus rapide par simplification des menus</Description>
  </fr>
  <ja>
    <Name>迅速なメニュー表示</Name>
    <Description>メニューを簡素化することにより、メニューの表示を高速化します。</Description>
  </ja>
  <zh>
    <Name>簡潔內容功能選單</Name>
  </zh>
</TablacusExplorer>
