<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2013.7.24</MinVersion>
    <pubDate>Sun, 24 Nov 2013 00:00:00 +0900</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Quick menu</Name>
    <Description>Quick and simple menu</Description>
  </en>
  <ja>
    <Name>クイック メニュー</Name>
    <Description>簡素で軽快なメニュー</Description>
  </ja>
</TablacusExplorer>
