<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2020.7.28</MinVersion>
    <pubDate>Tue, 28 Jul 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Prevent duplicate tabs</Name>
    <Description>Prevent duplicate tabs</Description>
  </en>
  <ja>
    <Name>重複タブ禁止</Name>
    <Description>重複タブを禁止します。</Description>
  </ja>
  <zh>
    <Name>防止重複分頁</Name>
  </zh>
</TablacusExplorer>
