<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2018.7.29</MinVersion>
    <pubDate>Mon, 30 Jul 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Prevent duplicate tabs</Name>
    <Description>Prevent duplicate tabs</Description>
  </en>
  <ja>
    <Name>重複タブ禁止</Name>
    <Description>重複タブを禁止します。</Description>
  </ja>
</TablacusExplorer>
