<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.3.16</MinVersion>
    <pubDate>Thu, 19 Mar 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,1,2:0</Options>
    <DllVersion>1.0.2.0</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>7-Zip</Name>
    <Description>7-Zip *Require 7d.dll and 7zG.exe</Description>
  </en>
  <ja>
    <Name>7-Zip</Name>
    <Description>7-Zip ※7d.dll と 7zG.exe が必要</Description>
  </ja>
</TablacusExplorer>
