<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2021.6.11</MinVersion>
    <pubDate>Wed, 16 Jun 2021 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Right button drag-and-drop menu</Name>
    <Description>Right button drag-and-drop menu</Description>
  </en>
  <ja>
    <Name>右ボタンドラッグ＆ドロップメニュー</Name>
  </ja>
</TablacusExplorer>
