<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.1</MinVersion>
    <pubDate>Wed, 02 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Emulate drop</Name>
    <Description>Add "Emulate drop" to the type.</Description>
  </en>
  <ja>
    <Name>ドロップをエミュレート</Name>
    <Description>タイプに「Emulate drop」を追加します。</Description>
  </ja>
</TablacusExplorer>
