<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.16</MinVersion>
    <pubDate>Sat, 19 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Full row select plus</Name>
    <Description>Disable full row selection on mouse-over.</Description>
  </en>
  <ja>
    <Name>一行選択プラス</Name>
    <Description>マウスオーバーで一行選択を解除します。</Description>
  </ja>
</TablacusExplorer>
