<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2017.11.20</MinVersion>
    <pubDate>Mon, 20 Nov 2017 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Branch bar</Name>
    <Description>Display Git Branch</Description>
  </en>
  <ja>
    <Name>ブランチ バー</Name>
    <Description>Gitのブランチを表示</Description>
  </ja>
</TablacusExplorer>
