<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.3.15</MinVersion>
    <pubDate>Sun, 15 Mar 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,1:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Size bar chart</Name>
    <Description>Display size as bar chart</Description>
  </en>
  <ja>
    <Name>サイズの棒グラフ</Name>
    <Description>サイズを棒グラフで表示する</Description>
  </ja>
</TablacusExplorer>
