<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2014.2.3</MinVersion>
    <pubDate>Sun, 9 Feb 2014 00:00:00 UTC</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner Breadcrumbs Address Bar</Name>
    <Description>Breadcrumbs Address Bar of every pane</Description>
  </en>
  <ja>
    <Name>Inner パンくずリスト アドレス バー </Name>
    <Description>ペイン毎の パンくずリスト アドレス バー</Description>
  </ja>
</TablacusExplorer>
