<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.28</Version>
    <MinVersion>2018.5.16</MinVersion>
    <pubDate>Thu, 17 May 2018 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner breadcrumbs address bar</Name>
    <Description>Breadcrumbs address bar for each pane</Description>
  </en>
  <ja>
    <Name>Inner パンくずリスト アドレス バー </Name>
    <Description>ペイン毎の パンくずリスト アドレス バー</Description>
  </ja>
</TablacusExplorer>
