<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2021.3.30</MinVersion>
    <pubDate>Wed, 31 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:5,6:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Clipboard</Name>
    <Description>Clipboard</Description>
  </en>
  <ja>
    <Name>クリップボード</Name>
  </ja>
</TablacusExplorer>
