<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.10</Version>
    <MinVersion>2020.5.8</MinVersion>
    <pubDate>Fri, 08 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,5:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Hot button</Name>
    <Description>Hot button</Description>
  </en>
  <ja>
    <Name>ホットボタン</Name>
  </ja>
  <zh>
    <Name>熱按鈕</Name>
  </zh>
</TablacusExplorer>
