<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2018.4.2</MinVersion>
    <pubDate>Wed, 04 Apr 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Hot button</Name>
    <Description>Hot button</Description>
  </en>
  <ja>
    <Name>ホットボタン</Name>
    <Description>ホットボタン</Description>
  </ja>
</TablacusExplorer>
