<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.12.31</MinVersion>
    <pubDate>Sun, 03 Jan 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Menu image plus</Name>
    <Description>Preview in menu.</Description>
  </en>
  <ja>
    <Name>メニュー画像プラス</Name>
  </ja>
</TablacusExplorer>
