<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2021.2.27</MinVersion>
    <pubDate>Mon, 01 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tree view filter</Name>
    <Description>Tree view filter</Description>
  </en>
  <ja>
    <Name>ツリーフィルタ</Name>
  </ja>
</TablacusExplorer>
