<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2020.6.7</MinVersion>
    <pubDate>Sat, 06 Jun 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tree view filter</Name>
    <Description>Tree view filter</Description>
  </en>
  <ja>
    <Name>ツリーフィルタ</Name>
  </ja>
</TablacusExplorer>
