<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.3</MinVersion>
    <pubDate>Fri, 04 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Add-on switcher</Name>
    <Description>Enable or disable add-ons.</Description>
  </en>
  <ja>
    <Name>アドオンの切り替え(Add-on switcher)</Name>
    <Description>アドオンの有効・無効を切り替えます。</Description>
  </ja>
</TablacusExplorer>
