<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.24</MinVersion>
    <pubDate>Fri, 25 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Susie Plug-in plus</Name>
    <Description>Open archive file using Susie Plug-in. *Susie Plug-in is required</Description>
  </en>
  <ja>
    <Name>Susieプラグインプラス</Name>
    <Description>Susieプラグインを使ってアーカイブファイルを開く ※Susieプラグインが必要</Description>
  </ja>
</TablacusExplorer>
