<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2019.4.15</MinVersion>
    <pubDate>Mon, 15 Apr 2019 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <DllVersion>1.0.0.0</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>GFL SDK</Name>
    <Description>GFL SDK</Description>
  </en>
</TablacusExplorer>
