<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2022.1.16</MinVersion>
    <pubDate>Wed, 05 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Fixed tab name</Name>
    <Description>Fixed tab name</Description>
  </en>
  <ja>
    <Name>固定タブ名</Name>
  </ja>
</TablacusExplorer>
