<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2014.10.6</MinVersion>
    <pubDate>Mon, 6 Oct 2014 00:00:00 UTC</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Order of Selected items</Name>
    <Description>Selected items are in the order they appear in the view.</Description>
  </en>
  <ja>
    <Name>選択項目の順序</Name>
    <Description>選択項目を表示された順にします。</Description>
  </ja>
</TablacusExplorer>
