<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2018.3.21</MinVersion>
    <pubDate>Thu, 22 Mar 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Stripes lite</Name>
    <Description>Display alternating stripes in the background when the detail view.</Description>
  </en>
  <ja>
    <Name>ストライプ ライト</Name>
    <Description>詳細表示の際に背景を交互縞で表示します。</Description>
  </ja>
</TablacusExplorer>
