<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.16</Version>
    <MinVersion>2017.4.24</MinVersion>
    <pubDate>Mon, 24 Apr 2017 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Label</Name>
    <Description>Label</Description>
  </en>
  <ja>
    <Name>ラベル</Name>
    <Description>ラベル</Description>
  </ja>
</TablacusExplorer>
