<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.34</Version>
    <MinVersion>2020.4.30</MinVersion>
    <pubDate>Thu, 30 Apr 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,5,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Label</Name>
    <Description>Context commands to manage user-defined tags for sorting and searching.</Description>
  </en>
  <ja>
    <Name>ラベル</Name>
  </ja>
  <zh>
    <Name>標籤</Name>
  </zh>
</TablacusExplorer>
