<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2018.1.30</MinVersion>
    <pubDate>Tue, 30 Jan 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Open Control Panel in Explorer</Name>
    <Description>Open Control Panel in Explorer.</Description>
  </en>
  <ja>
    <Name>コントロールパネルをエクスプローラで開く</Name>
    <Description>コントロールパネルをエクスプローラで開きます。</Description>
  </ja>
</TablacusExplorer>
