<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2019.7.11</MinVersion>
    <pubDate>Thu, 11 Jul 2019 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Split3</Name>
    <Description>Split a window into 3 frames. *Require "Split"</Description>
  </en>
  <ja>
    <Name>3分割</Name>
    <Description>画面の3分割 ※"分割"が必要</Description>
  </ja>
  <zh>
    <Name>劃分三個窗格</Name>
  </zh>
</TablacusExplorer>
