<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2018.12.30</MinVersion>
    <pubDate>Sun, 30 Dec 2018 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Split3</Name>
    <Description>Split a window into 3 frames.</Description>
  </en>
  <ja>
    <Name>3分割</Name>
    <Description>画面の3分割</Description>
  </ja>
</TablacusExplorer>
