<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2020.2.6</MinVersion>
    <pubDate>Thu, 06 Feb 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Run at setup</Name>
    <Description>Run at startup and configuration change.</Description>
  </en>
  <ja>
    <Name>セットアップ時に実行</Name>
    <Description>起動時および設定変更時に実行</Description>
  </ja>
</TablacusExplorer>
