<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.6.17</MinVersion>
    <pubDate>Wed, 17 Jun 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Order of Selected items</Name>
    <Description>Selected items are in the order they appear in the view.</Description>
  </en>
  <ja>
    <Name>選択項目の順序</Name>
    <Description>選択項目を表示された順にします。</Description>
  </ja>
  <zh>
    <Name>順序處理選擇項目</Name>
  </zh>
</TablacusExplorer>
