<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.16</Version>
    <MinVersion>2020.5.17</MinVersion>
    <pubDate>Sun, 17 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tooltip preview</Name>
    <Description>Image preview with tooltip.</Description>
  </en>
  <ja>
    <Name>ツールチップ プレビュー</Name>
    <Description>ツールチップで画像プレビュー</Description>
  </ja>
  <zh>
    <Name>彈出預覽</Name>
  </zh>
</TablacusExplorer>
