<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2021.1.5</MinVersion>
    <pubDate>Sun, 10 Jan 2021 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>No edit labels</Name>
    <Description>Prevent renaming of selected items on second click or slow double-click or F2 key in listview</Description>
  </en>
  <ja>
    <Name>名前の編集禁止</Name>
  </ja>
  <zh>
    <Name>停用重新命名</Name>
  </zh>
</TablacusExplorer>
