<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2018.3.3</MinVersion>
    <pubDate>Tue, 13 Mar 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Auto update</Name>
    <Description>Update Tablacus Explorer after a period of inactivity.</Description>
  </en>
  <ja>
    <Name>自動的に更新</Name>
    <Description>一定時間使用していない場合、Tablacus Explorerを自動的に最新版に更新します。</Description>
  </ja>
</TablacusExplorer>
