<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2022.1.25</MinVersion>
    <pubDate>Sat, 29 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Background image</Name>
    <Description>Background image</Description>
  </en>
  <fr>
    <Name>Image d&apos;arrière-plan</Name>
  </fr>
  <ja>
    <Name>背景画像</Name>
  </ja>
  <zh>
    <Name>分頁背景</Name>
  </zh>
</TablacusExplorer>
