<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2017.8.19</MinVersion>
    <pubDate>Sat, 19 Aug 2017 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Systray</Name>
    <Description>System tray</Description>
  </en>
  <ja>
    <Name>タスクトレイ</Name>
    <Description>タスクトレイ</Description>
  </ja>
</TablacusExplorer>
