<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2014.3.4</MinVersion>
    <pubDate>Wed, 4 Mar 2015 00:00:00 UTC</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Icon Changer</Name>
    <Description>Icon Changer</Description>
  </en>
  <ja>
    <Name>アイコンの変更</Name>
    <Description>アイコンの変更</Description>
  </ja>
</TablacusExplorer>
