<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2017.4.4</MinVersion>
    <pubDate>Tue, 04 Apr 2017 00:00:00 GMT</pubDate>
    <Options>Common:0,6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Status Bar</Name>
    <Description>Status Bar</Description>
  </en>
  <ja>
    <Name>ステータス バー</Name>
    <Description>ステータス バー</Description>
  </ja>
</TablacusExplorer>
