<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2025.3.11</MinVersion>
    <pubDate>Tue, 25 Mar 2025 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inactive pane</Name>
    <Description>Clearly discriminate active pane by color the inactive pane.</Description>
  </en>
  <ja>
    <Name>非アクティブペイン</Name>
    <Description>非アクティブペインの色を変えてアクティブペインを判りやすくします。</Description>
  </ja>
  <zh>
    <Name>備用窗格變暗</Name>
  </zh>
</TablacusExplorer>
