<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2022.1.12</MinVersion>
    <pubDate>Sun, 16 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Copy folder settings</Name>
    <Description>Copy the script for the current folder settings to the clipboard.</Description>
  </en>
  <fr>
    <Name>Copier les paramètres d&apos;affichage des dossiers</Name>
    <Description>Copier dans le presse-papiers la configuration des paramètres d&apos;affichage du dossier actuel.</Description>
  </fr>
  <ja>
    <Name>フォルダ設定をコピー</Name>
    <Description>現在のフォルダ設定のスクリプトをクリップボードにコピーします。</Description>
  </ja>
  <zh>
    <Name>複製資料夾檢視</Name>
  </zh>
</TablacusExplorer>
