<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.20</MinVersion>
    <pubDate>Mon, 21 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Gesture priority plus</Name>
    <Description>Right drag for selected items, otherwise the mouse gesture.</Description>
  </en>
  <ja>
    <Name>マウスジェスチャ優先プラス</Name>
    <Description>選択項目では右ドラッグを、そうでなければマウスジェスチャを優先します。</Description>
  </ja>
  <zh>
    <Name>調整滑鼠動作</Name>
  </zh>
</TablacusExplorer>
