<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2020.11.10</MinVersion>
    <pubDate>Wed, 11 Nov 2020 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Change the timestamp</Name>
    <Description>Change the date and time that the specified file or directory was created, last accessed, or last modified.</Description>
  </en>
  <ja>
    <Name>タイムスタンプの変更</Name>
    <Description>ファイルやフォルダの更新日時、作成日時、アクセス日時の変更</Description>
  </ja>
  <zh>
    <Name>變更時間戳記</Name>
  </zh>
</TablacusExplorer>
