<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.14</Version>
    <MinVersion>2021.1.17</MinVersion>
    <pubDate>Tue, 19 Jan 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder list menu</Name>
    <Description>Show a menu of folders listed in a text file</Description>
  </en>
  <ja>
    <Name>フォルダーリストメニュー</Name>
  </ja>
  <zh>
    <Name>自訂文字檔選單</Name>
  </zh>
</TablacusExplorer>
