<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2017.6.20</MinVersion>
    <pubDate>Tue, 20 Jun 2017 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder list menu</Name>
    <Description>Folder list menu</Description>
  </en>
  <ja>
    <Name>フォルダーリストメニュー</Name>
    <Description>フォルダーリストメニュー</Description>
  </ja>
</TablacusExplorer>
