<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.21</Version>
    <MinVersion>2022.3.27</MinVersion>
    <pubDate>Mon, 04 Apr 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Font settings</Name>
    <Description>Font settings</Description>
  </en>
  <ja>
    <Name>フォント設定</Name>
  </ja>
  <zh>
    <Name>字型</Name>
  </zh>
</TablacusExplorer>
