<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2018.12.11</MinVersion>
    <pubDate>Tue, 11 Dec 2018 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <DllVersion>1.0.1.0</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Common Archivers Library</Name>
    <Description>Common Archivers Library</Description>
  </en>
  <ja>
    <Name>統合アーカイバ</Name>
    <Description>統合アーカイバ</Description>
  </ja>
</TablacusExplorer>
