<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2020.4.23</MinVersion>
    <pubDate>Sat, 24 Apr 2021 00:00:00 GMT</pubDate>
    <DllVersion>1.0.0.0</DllVersion>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Suppress auto arrange</Name>
    <Description>Suppress automatic arrangement when updating.</Description>
  </en>
  <ja>
    <Name>更新時の自動整列を抑制</Name>
  </ja>
</TablacusExplorer>
