<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.11</Version>
    <MinVersion>2021.1.24</MinVersion>
    <pubDate>Tue, 26 Jan 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Open instead</Name>
    <Description>Open instead of Explorer</Description>
  </en>
  <ja>
    <Name>エクスプローラの代わりに開く</Name>
    <Description>エクスプローラの代わりにTablacus Explorerで開きます。</Description>
  </ja>
  <zh>
    <Name>接替檔案總管</Name>
  </zh>
</TablacusExplorer>
