<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2023.7.12</MinVersion>
    <pubDate>Mon, 06 Nov 2023 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Color labels</Name>
    <Description>Color labels</Description>
  </en>
  <fr>
    <Name>Colorier les étiquettes</Name>
  </fr>
  <ja>
    <Name>カラーラベル</Name>
  </ja>
  <zh>
    <Name>以背景色標示</Name>
  </zh>
</TablacusExplorer>
