<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.35</Version>
    <MinVersion>2025.5.15</MinVersion>
    <pubDate>Sat, 17 May 2025 00:00:00 GMT</pubDate>
    <Options>Common:0,4,6:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Link bar</Name>
    <Description>Link bar</Description>
  </en>
  <fr>
    <Name>Barre de lien</Name>
  </fr>
  <ja>
    <Name>リンクバー</Name>
  </ja>
  <zh>
    <Name>冠名工具列</Name>
  </zh>
</TablacusExplorer>
