<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2014.5.4</MinVersion>
    <pubDate>Wed, 21 May 2014 00:00:00 UTC</pubDate>
    <Options>dialogWidth: 320px; dialogHeight: 130px; resizable: yes; status: 0</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab Position</Name>
    <Description>Tab Position</Description>
  </en>
  <ja>
    <Name>タブの配置</Name>
    <Description>タブを閉じた際にアクティブにするタブを指定します。</Description>
  </ja>
</TablacusExplorer>
