<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2022.1.16</MinVersion>
    <pubDate>Wed, 19 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Protect tabs</Name>
    <Description>Protect tabs</Description>
  </en>
  <fr>
    <Name>Protéger les onglets</Name>
  </fr>
  <ja>
    <Name>タブを保護</Name>
  </ja>
  <zh>
    <Name>保留分頁</Name>
  </zh>
</TablacusExplorer>
