<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2019.5.8</MinVersion>
    <pubDate>Thu, 09 May 2019 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Close duplicate tabs</Name>
    <Description>Close duplicate tabs</Description>
  </en>
  <ja>
    <Name>重複タブを閉じる</Name>
    <Description>重複タブを閉じます。</Description>
  </ja>
  <zh>
    <Name>關閉重複分頁</Name>
    <Description>關閉重複分頁</Description>
  </zh>
</TablacusExplorer>
