<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
	<General>
		<Version>1.00</Version>
		<MinVersion>2012.01.29</MinVersion>
		<pubDate>Sun, 29 Jan 2012 00:00:00 +0900</pubDate>
		<URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
		<License>MIT License</License>
		<Name>VB</Name>
		<Creator>Gaku</Creator>
		<Description>VBS test</Description>
	</General>
</TablacusExplorer>
