<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2018.3.28</MinVersion>
    <pubDate>Wed, 28 Mar 2018 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Startup settings</Name>
    <Description>Startup settings of Tablacus Explorer.</Description>
  </en>
  <ja>
    <Name>開始時の設定</Name>
    <Description>Tablacus Explorer開始時の設定</Description>
  </ja>
</TablacusExplorer>
