<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2021.3.7</MinVersion>
    <pubDate>Sat, 13 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Colored with extension</Name>
    <Description>Colored with file extension</Description>
  </en>
  <ja>
    <Name>拡張子で色分け</Name>
  </ja>
  <zh>
    <Name>依副檔名著色</Name>
  </zh>
</TablacusExplorer>
