<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2020.12.21</MinVersion>
    <pubDate>Tue, 22 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:6:6</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Simple Tool bar</Name>
    <Description>Simple Tool bar</Description>
  </en>
  <ja>
    <Name>シンプルツールバー</Name>
  </ja>
  <zh>
    <Name>簡單工具列</Name>
  </zh>
</TablacusExplorer>
