<TablacusExplorer>
  <General>
    <Version>1.30</Version>
    <MinVersion>2022.2.3</MinVersion>
    <pubDate>Sat, 05 Feb 2022 00:00:00 GMT</pubDate>
    <Options>Common:0,5,6,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview window</Name>
    <Description>Displays the contents of selected text, image and media files in a external preview window.</Description>
  </en>
  <fr>
    <Name>Fenêtre d&apos;aperçu</Name>
    <Description>Afficher le contenu des fichiers texte, image et média sélectionnés dans une fenêtre d&apos;aperçu externe.</Description>
  </fr>
  <ja>
    <Name>プレビューウインドウ</Name>
    <Description>外部ウインドウを用いたプレビュー</Description>
  </ja>
  <zh>
    <Name>預覽視窗</Name>
  </zh>
</TablacusExplorer>
