<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2019.1.10</MinVersion>
    <pubDate>Sat, 12 Jan 2019 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview window</Name>
    <Description>Preview using external window.</Description>
  </en>
  <ja>
    <Name>プレビュー ウインドウ</Name>
    <Description>外部ウインドウを用いたプレビュー</Description>
  </ja>
</TablacusExplorer>
