<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.17</Version>
    <MinVersion>2020.5.28</MinVersion>
    <pubDate>Wed, 27 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,5,6,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview window</Name>
    <Description>Displays the contents of selected text, image and media files in a external preview window.</Description>
  </en>
  <ja>
    <Name>プレビュー ウインドウ</Name>
    <Description>外部ウインドウを用いたプレビュー</Description>
  </ja>
  <zh>
    <Name>預覽視窗</Name>
  </zh>
</TablacusExplorer>
