<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.20</MinVersion>
    <pubDate>Mon, 21 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Disable classic style during drag</Name>
    <Description>Disable the classic style during drag &amp; drop. Require "Classic Style"</Description>
  </en>
  <ja>
    <Name>ドラッグ中はクラシックスタイル無効</Name>
    <Description>ドラッグ＆ドロップ中はクラシックスタイルを無効にする。※クラシックスタイルが必要</Description>
  </ja>
  <zh>
    <Name>拖曳時停用傳統風格選擇</Name>
  </zh>
</TablacusExplorer>
