<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2022.1.16</MinVersion>
    <pubDate>Wed, 19 Jan 2022 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Path column</Name>
    <Description>Path column</Description>
  </en>
  <ja>
    <Name>パス列</Name>
  </ja>
</TablacusExplorer>
