<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2016.3.12</MinVersion>
    <pubDate>Tue, 15 Mar 2016 00:00:00 UTC</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>To the top in the drag</Name>
    <Description>To the top window in the drag operation.</Description>
  </en>
  <ja>
    <Name>ドラッグで最前面</Name>
    <Description>ドラッグで最前面にする。</Description>
  </ja>
</TablacusExplorer>
