<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2017.12.15</MinVersion>
    <pubDate>Fri, 15 Dec 2017 00:00:00 GMT</pubDate>
    <Options>Common:0,5,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner Search bar</Name>
    <Description>Search bar for each pane</Description>
  </en>
  <ja>
    <Name>Inner 検索 バー</Name>
    <Description>ペイン毎の 検索 バー</Description>
  </ja>
</TablacusExplorer>
