<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2020.12.8</MinVersion>
    <pubDate>Wed, 09 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <DllVersion>1.0.2.0</DllVersion>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Thumbnail engine</Name>
    <Description>Thumbnail engine</Description>
  </en>
  <ja>
    <Name>サムネイルエンジン</Name>
  </ja>
  <zh>
    <Name>預覽影片截圖</Name>
  </zh>
</TablacusExplorer>
