<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2015.12.18</MinVersion>
    <pubDate>Fri, 18 Dec 2015 00:00:00 UTC</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Label groups</Name>
    <Description>Group management of the label. * Require "Label"</Description>
  </en>
  <ja>
    <Name>ラベル グループ</Name>
    <Description>ラベルのグループ管理 ※"ラベル"が必要</Description>
  </ja>
</TablacusExplorer>
