<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2018.6.21</MinVersion>
    <pubDate>Fri, 22 Jun 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder menu settings</Name>
    <Description>Folder menu settings.</Description>
  </en>
  <ja>
    <Name>フォルダメニュー設定</Name>
    <Description>フォルダメニュー設定</Description>
  </ja>
</TablacusExplorer>
