<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.22</MinVersion>
    <pubDate>Wed, 23 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder menu settings</Name>
    <Description>Folder menu settings.</Description>
  </en>
  <ja>
    <Name>フォルダメニュー設定</Name>
  </ja>
  <zh>
    <Name>資料夾選單排序</Name>
  </zh>
</TablacusExplorer>
