<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2019.8.5</MinVersion>
    <pubDate>Wed, 21 Aug 2019 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Duplicate copy</Name>
    <Description>Duplicate copy</Description>
  </en>
  <ja>
    <Name>重複コピー</Name>
  </ja>
  <zh>
    <Name>複本</Name>
  </zh>
</TablacusExplorer>
