<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2018.2.25</MinVersion>
    <pubDate>Sun, 25 Feb 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Async script</Name>
    <Description>Async external script</Description>
  </en>
  <ja>
    <Name>非同期スクリプト</Name>
    <Description>非同期外部スクリプト</Description>
  </ja>
</TablacusExplorer>
