<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2021.1.5</MinVersion>
    <pubDate>Fri, 08 Jan 2021 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Disable Tree drop</Name>
    <Description>Disable drop in tree view.</Description>
  </en>
  <ja>
    <Name>ツリーでドロップ禁止</Name>
  </ja>
  <zh>
    <Name>停用拖放到樹狀目錄</Name>
  </zh>
</TablacusExplorer>
