<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2020.12.12</MinVersion>
    <pubDate>Sun, 13 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:5:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder large icon changer</Name>
    <Description>Change folder large icon</Description>
  </en>
  <ja>
    <Name>フォルダの大アイコン変更</Name>
    <Description>フォルダの大アイコンを変更します</Description>
  </ja>
</TablacusExplorer>