<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.11</Version>
    <MinVersion>2020.9.3</MinVersion>
    <pubDate>Sun, 27 Sep 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Options>Common:5,6:5</Options>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Label button</Name>
    <Description>Label button *Require "Label"</Description>
  </en>
  <ja>
    <Name>ラベル ボタン</Name>
    <Description>ラベル ボタン ※"ラベル"が必要</Description>
  </ja>
</TablacusExplorer>
