<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2022.1.25</MinVersion>
    <pubDate>Wed, 26 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Entered history</Name>
    <Description>Change the addressbar drop-down to the entered history.</Description>
  </en>
  <fr>
    <Name>Historique entré</Name>
    <Description>Remplacer la liste déroulante de la barre d&apos;adresse par l&apos;historique entré.</Description>
  </fr>
  <ja>
    <Name>入力履歴</Name>
    <Description>アドレスバーのドロップダウンを入力履歴に変更</Description>
  </ja>
  <zh>
    <Name>位址輸入記錄</Name>
  </zh>
</TablacusExplorer>
