<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2017.10.9</MinVersion>
    <pubDate>Mon, 09 Oct 2017 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Replace slow columns</Name>
    <Description>Replace slow "Date" to "Date modified".</Description>
  </en>
  <ja>
    <Name>遅いカラムを置換</Name>
    <Description>遅い「日付時刻」を「更新日時」に置き換えます。</Description>
  </ja>
</TablacusExplorer>
