<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2020.5.30</MinVersion>
    <pubDate>Fri, 29 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Full path bar</Name>
    <Description>Show full path.</Description>
  </en>
  <ja>
    <Name>フルパス バー</Name>
    <Description>バーにフルパスを表示します。</Description>
  </ja>
</TablacusExplorer>
