<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2018.11.12</MinVersion>
    <pubDate>Mon, 12 Nov 2018 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Rename dialog plus</Name>
    <Description>Rename dialog box plus</Description>
  </en>
  <ja>
    <Name>名前の変更ダイアログボックス プラス</Name>
    <Description>名前の変更を拡張子別のダイアログボックスで行います。</Description>
  </ja>
</TablacusExplorer>
