<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.11.22</MinVersion>
    <pubDate>Fri, 27 Nov 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>BSD license</License>
  </General>
  <en>
    <Name>Firebug Lite</Name>
    <Description>Firebug Lite https://getfirebug.com/firebuglite</Description>
  </en>
</TablacusExplorer>
