<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2018.4.18</MinVersion>
    <pubDate>Thu, 19 Apr 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Options>Common:0:0</Options>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Check box</Name>
    <Description>Check box</Description>
  </en>
  <ja>
    <Name>チェックボックス</Name>
    <Description>チェックボックス</Description>
  </ja>
</TablacusExplorer>
