<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.10</Version>
    <MinVersion>2020.8.21</MinVersion>
    <pubDate>Fri, 21 Aug 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Options>Common:0:0</Options>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Check box</Name>
    <Description>Check box</Description>
  </en>
  <ja>
    <Name>チェックボックス</Name>
  </ja>
  <zh>
    <Name>核取方塊</Name>
  </zh>
</TablacusExplorer>
