<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.23</Version>
    <MinVersion>2015.6.28</MinVersion>
    <pubDate>Mon, 29 Jun 2015 00:00:00 UTC</pubDate>
    <Options>Width: 250; Height: 285</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab plus</Name>
    <Description>Tab plus</Description>
  </en>
  <ja>
    <Name>タブプラス</Name>
    <Description>タブプラス</Description>
  </ja>
</TablacusExplorer>
