<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2017.3.27</MinVersion>
    <pubDate>Mon, 27 Mar 2017 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Locked tabs top</Name>
    <Description>Move all locked tabs at the top.</Description>
  </en>
  <ja>
    <Name>ロックされたタブを先頭に</Name>
    <Description>ロックされたタブを先頭に集めます。</Description>
  </ja>
</TablacusExplorer>
