<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2021.12.18</MinVersion>
    <pubDate>Sun, 26 Dec 2021 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Change the Date modified</Name>
    <Description>Change the Date modified.</Description>
  </en>
  <fr>
    <Name>Changer la date de modification</Name>
  </fr>
  <ja>
    <Name>更新日時の変更</Name>
  </ja>
  <zh>
    <Name>變更修改日期</Name>
  </zh>
</TablacusExplorer>
