<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2019.4.21</MinVersion>
    <pubDate>Sun, 21 Apr 2019 00:00:00 GMT</pubDate>
    <Options>Common:0,1:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Force refresh</Name>
    <Description>Force refresh on change tab.</Description>
  </en>
  <ja>
    <Name>強制的に更新</Name>
    <Description>タブ切り替え時に強制的に更新します。</Description>
  </ja>
</TablacusExplorer>
