<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.19</Version>
    <MinVersion>2018.1.23</MinVersion>
    <pubDate>Wed, 24 Jan 2018 00:00:00 GMT</pubDate>
    <Options>Common:0,5,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner Filter bar</Name>
    <Description>Filter bar for each pane</Description>
  </en>
  <ja>
    <Name>Inner フィルター バー</Name>
    <Description>ペイン毎のフィルター バー</Description>
  </ja>
</TablacusExplorer>
