<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.8.15</MinVersion>
    <pubDate>Sat, 15 Aug 2020 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Menu item filter</Name>
    <Description>Menu item filter</Description>
  </en>
  <ja>
    <Name>メニュー項目フィルタ</Name>
  </ja>
  <zh>
    <Name>移除選單項目</Name>
  </zh>
</TablacusExplorer>
