<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2019.5.4</MinVersion>
    <pubDate>Mon, 06 May 2019 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Menu item filter</Name>
    <Description>Menu item filter</Description>
  </en>
  <ja>
    <Name>メニュー項目フィルタ</Name>
    <Description>メニュー項目フィルタ</Description>
  </ja>
  <zh>
    <Name>移除選單項目</Name>
    <Description>移除選單項目</Description>
  </zh>
</TablacusExplorer>
