<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2017.8.12</MinVersion>
    <pubDate>Sat, 12 Aug 2017 00:00:00 GMT</pubDate>
    <Options>Common:4,7,8,9:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Path icon changer</Name>
    <Description>Icon change with file path</Description>
  </en>
  <ja>
    <Name>フルパスでアイコン変更</Name>
    <Description>フルパス名でアイコン変更</Description>
  </ja>
</TablacusExplorer>