<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2019.6.3</MinVersion>
    <pubDate>Wed, 05 Jun 2019 00:00:00 GMT</pubDate>
    <Options>Common:4,7,8,9:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Path icon changer</Name>
    <Description>Icon change with file path</Description>
  </en>
  <ja>
    <Name>フルパスでアイコン変更</Name>
    <Description>フルパス名でアイコン変更</Description>
  </ja>
  <zh>
    <Name>依路徑設定圖示</Name>
  </zh>
</TablacusExplorer>
