<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2021.1.28</MinVersion>
    <pubDate>Sat, 30 Jan 2021 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Classic style</Name>
    <Description>Show selection in a classic style.</Description>
  </en>
  <ja>
    <Name>クラシックスタイル</Name>
    <Description>選択をクラシックスタイルで表示します。</Description>
  </ja>
  <zh>
    <Name>傳統風格選擇</Name>
  </zh>
</TablacusExplorer>
