<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.20</MinVersion>
    <pubDate>Mon, 21 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Select tab</Name>
    <Description>Switch the tab with folder path specified in "Options".</Description>
  </en>
  <ja>
    <Name>タブの選択</Name>
    <Description>指定したパスのタブを選択します。</Description>
  </ja>
  <zh>
    <Name>前往分頁</Name>
  </zh>
</TablacusExplorer>
