<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2017.10.9</MinVersion>
    <pubDate>Mon, 09 Oct 2017 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Side tree view</Name>
    <Description>Side tree view</Description>
  </en>
  <ja>
    <Name>サイド ツリー</Name>
    <Description>サイド ツリー</Description>
  </ja>
</TablacusExplorer>
