<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2021.4.4</MinVersion>
    <pubDate>Mon, 05 Apr 2021 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Switch to next pane</Name>
    <Description>Command: "Switch to next pane", Environment: "%other%".</Description>
  </en>
  <ja>
    <Name>次のペインに切り替える</Name>
    <Description>次のペインに切り替えるコマンドと、次のペインを表す環境変数「%other%」を追加します。</Description>
  </ja>
  <zh>
  	<Name>下一個窗格</Name>
  </zh>
</TablacusExplorer>
