<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2021.12.18</MinVersion>
    <pubDate>Sat, 25 Dec 2021 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Switch to next pane</Name>
    <Description>Command: "Switch to next pane", Environment: "%other%".</Description>
  </en>
  <fr>
    <Name>Basculer au panneau suivant</Name>
    <Description>Commande : "Switch to next pane", Variable d'environment: "%other%".</Description>
  </fr>
  <ja>
    <Name>次のペインに切り替える</Name>
    <Description>次のペインに切り替えるコマンドと、次のペインを表す環境変数「%other%」を追加します。</Description>
  </ja>
  <zh>
  	<Name>下一個窗格</Name>
  </zh>
</TablacusExplorer>
