<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2018.11.15</MinVersion>
    <pubDate>Mon, 19 Nov 2018 00:00:00 GMT</pubDate>
    <Options>Common:6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Grab bar</Name>
    <Description>Grab bar</Description>
  </en>
  <ja>
    <Name>グラブ バー</Name>
    <Description>グラブ バー</Description>
  </ja>
</TablacusExplorer>
