<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2020.6.7</MinVersion>
    <pubDate>Sat, 06 Jun 2020 00:00:00 GMT</pubDate>
    <Options>Common:6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Grab bar</Name>
    <Description>Grab bar</Description>
  </en>
  <ja>
    <Name>グラブ バー</Name>
  </ja>
  <zh>
    <Name>抓取列</Name>
  </zh>
</TablacusExplorer>
