<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2018.2.28</MinVersion>
    <pubDate>Wed, 28 Feb 2018 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Total file size sort</Name>
    <Description>Sort by Total file size temporarily. Require Window Vista or higher.</Description>
  </en>
  <ja>
    <Name>総ファイルサイズ ソート</Name>
    <Description>一時的に総ファイルサイズ順に並べ替える。 ※Window Vista 以降</Description>
  </ja>
</TablacusExplorer>
