<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2018.5.3</MinVersion>
    <pubDate>Thu, 03 May 2018 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Change tab color</Name>
    <Description>Change tab color. Require "Tab plus"
    </Description>
  </en>
  <ja>
    <Name>タブに色を付ける</Name>
    <Description>タブに色を付けます。※タブプラスが必要</Description>
  </ja>
</TablacusExplorer>
