<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2021.11.1</MinVersion>
    <pubDate>Mon, 13 Dec 2021 00:00:00 GMT</pubDate>
    <Options>Common:0,5:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner Refresh</Name>
    <Description>Refresh button of every pane</Description>
  </en>
  <fr>
    <Name>Actualiser - interne</Name>
    <Description>Place un bouton "Actualiser" dans chaque volet.</Description>
  </fr>
  <ja>
    <Name>Inner 更新</Name>
    <Description>ペイン毎の更新ボタン</Description>
  </ja>
  <zh>
    <Name>窗格內重新整理</Name>
  </zh>
</TablacusExplorer>
