<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2020.12.10</MinVersion>
    <pubDate>Fri, 11 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Colored with create date</Name>
    <Description>Colored with create date</Description>
  </en>
  <ja>
    <Name>作成日時で色分け</Name>
  </ja>
</TablacusExplorer>
