<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2017.5.3</MinVersion>
    <pubDate>Sat, 13 May 2017 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Properties</Name>
    <Description>Properties button</Description>
  </en>
  <ja>
    <Name>プロパティ</Name>
    <Description>プロパティ ボタン</Description>
  </ja>
</TablacusExplorer>
