<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2020.12.16</MinVersion>
    <pubDate>Thu, 17 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Fire File Copy</Name>
    <Description>File operations in Fire File Copy.</Description>
  </en>
  <ja>
    <Name>Fire File Copy</Name>
    <Description>Fire File Copyでファイル操作を行います。</Description>
  </ja>
</TablacusExplorer>
