<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.12.3</MinVersion>
    <pubDate>Fri, 04 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Fix Single click activate</Name>
    <Description>Open item quickly with "Single click activate" style.</Description>
  </en>
  <ja>
    <Name>ポイントで選択、クリックで実行プラス</Name>
    <Description>ポイントで選択、クリックで実行時に素早く項目を開く。</Description>
  </ja>
  <zh>
    <Name>按一下立刻開啟項目</Name>
  </zh>
</TablacusExplorer>
