<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2019.6.3</MinVersion>
    <pubDate>Mon, 26 Aug 2019 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Size status bar</Name>
    <Description>Show size status</Description>
  </en>
  <ja>
    <Name>サイズ情報 バー</Name>
    <Description>バーにサイズ情報を表示します。</Description>
  </ja>
  <en>
    <Name>大小列</Name>
  </en>
</TablacusExplorer>
