<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2020.4.16</MinVersion>
    <pubDate>Thu, 16 Apr 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,6:6</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Count bar</Name>
    <Description>Show selected item count in the status bar.</Description>
  </en>
  <ja>
    <Name>カウント バー</Name>
    <Description>項目数を表示します。</Description>
  </ja>
  <zh>
    <Name>數量列</Name>
  </zh>
</TablacusExplorer>
