<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2018.2.18</MinVersion>
    <pubDate>Mon, 19 Feb 2018 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Extension icon changer</Name>
    <Description>Icon change with file extension</Description>
  </en>
  <ja>
    <Name>拡張子でアイコン変更</Name>
    <Description>拡張子でアイコン変更</Description>
  </ja>
</TablacusExplorer>