<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.1.26</MinVersion>
    <pubDate>Sun, 26 Jan 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>ADS Thumbnail</Name>
    <Description>NTFS Alternate Data Streams thumbnails (filename.ext:thumbnail.jpg)</Description>
  </en>
  <ja>
    <Name>代替データストリーム サムネイル</Name>
    <Description>NTFS代替データストリーム サムネイル (filename.ext:thumbnail.jpg)</Description>
  </ja>
</TablacusExplorer>