<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2020.5.30</MinVersion>
    <pubDate>Sat, 30 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>User style sheet</Name>
    <Description>User style sheet (CSS) settings</Description>
  </en>
  <ja>
    <Name>ユーザースタイルシート</Name>
    <Description>ユーザースタイルシート(CSS)設定</Description>
  </ja>
  <zh>
    <Name>自訂樣式表</Name>
  </zh>
</TablacusExplorer>
