<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2022.2.5</MinVersion>
    <pubDate>Fri 2 Aug 2024 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Sho Nitta</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Window Alpha</Name>
    <Description>Window Alpha Setting</Description>
  </en>
  <ja>
    <Name>ウィンドウ透過</Name>
  </ja>
</TablacusExplorer>
