<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2016.2.29</MinVersion>
    <pubDate>Tue, 1 Mar 2016 00:00:00 UTC</pubDate>
    <Options>Width: 320; Height: 100</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview</Name>
    <Description>Preview</Description>
  </en>
  <ja>
    <Name>プレビュー</Name>
    <Description>プレビュー</Description>
  </ja>
</TablacusExplorer>
