<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.34</Version>
    <MinVersion>2021.4.3</MinVersion>
    <pubDate>Sun, 04 Apr 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview</Name>
    <Description>Displays the contents of selected text, image and media files in a preview pane.</Description>
  </en>
  <ja>
    <Name>プレビュー</Name>
  </ja>
  <zh>
    <Name>預覽</Name>
  </zh>
</TablacusExplorer>
