<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.11</Version>
    <MinVersion>2017.4.4</MinVersion>
    <pubDate>Tue, 04 Apr 2017 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Preview</Name>
    <Description>Preview</Description>
  </en>
  <ja>
    <Name>プレビュー</Name>
    <Description>プレビュー</Description>
  </ja>
</TablacusExplorer>
