@charset "ISO-8859-1";

* {
	scrollbar-base-color: #000;
	scrollbar-face-color: #555;
	scrollbar-track-color: #111;
	scrollbar-arrow-color: #777;
}

body {
	color: #fff;
	background-color: #202020;
}

input[type="text"], input[type="button"], input[type="file"], input[type="submit"], input[type="reset"], select, textarea {
	color: #fff;
	background-color: #191919;
	border: solid 1px #555;
}

input[type="button"]:hover, input[type="file"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .button:hover, .hoverbutton, .activebutton {
	color: #fff;
	background-color: #555;
	border: solid 1px #ccc;
}

.menu {
	color: #fff;
}

.menu:hover, .hovermenu, .activemenu {
	color: #fff;
	background-color: #555;
	border: 1px solid #555;
}

.tab, .tab2, .tab3 {
	color: #fff;
	background: #000;
	border: 1px solid #555;
}

.tab:hover, .tab2:hover, .tab3:hover {
	box-shadow: 0 0 0 9em rgba(134, 134, 134, 0.5) inset;
	opacity: 1;
	filter: alpha(style=0,opacity=100);
}

.activetab {
	color: #fff;
	background-color: #555;
	border: 1px solid #555;
}

.treebutton, .treespace, .disabled {
	color: #999;
}
.breadcrumb {
	color: #fff;
	background-color: #191919;
}

.separator {
	color: #666;
}

.panel, .color, .block {
	border: 1px solid #666;
}

.group {
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}

.oddline {
	color: #fff;
	background-color: #555;
}

.window {
	color: #fff;
	background-color: #202020;
	border: 1px solid #666;
}

.window td {
	border: 1px solid #666;
}

.text1 {
	color: #fff;
	background-color: #000;
	border: 1px solid #666;
}

.pane {
	color: #fff;
	background-color: #202020;
	border: 1px solid #666;
}

