<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2017.4.18</MinVersion>
    <pubDate>Tue, 18 Apr 2017 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab design</Name>
    <Description>Tab design. Require "Tab Plus"</Description>
  </en>
  <ja>
    <Name>タブのデザイン</Name>
    <Description>タブのデザイン。※タブプラスが必要</Description>
  </ja>
</TablacusExplorer>
