<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2018.5.4</MinVersion>
    <pubDate>Fri, 04 May 2018 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Fix selection on renaming</Name>
    <Description>Fix selection on renaming. (Results folder / Windows XP)</Description>
  </en>
  <ja>
    <Name>名前の変更時の選択を修正</Name>
    <Description>名前の変更時の選択を名前部分にする。（結果フォルダやWindows XP）</Description>
  </ja>
</TablacusExplorer>
