<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2021.11.1</MinVersion>
    <pubDate>Sat, 18 Dec 2021 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Search by date modified</Name>
    <Description>Search by date modified</Description>
  </en>
  <ja>
    <Name>更新日時で検索</Name>
  </ja>
</TablacusExplorer>
