<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.9</MinVersion>
    <pubDate>Thu, 10 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Move content up</Name>
    <Description>Move all items in the selected folder to the current folder.</Description>
  </en>
  <ja>
    <Name>現在のフォルダへ引き上げる</Name>
    <Description>選択したフォルダ内の項目すべてを現在のフォルダへ移動させる。</Description>
  </ja>
</TablacusExplorer>
