<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2025.11.13</MinVersion>
    <pubDate>Friday, 19 Dec 2025 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>LoganAC34</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Remove OneDrive Status Column</Name>
    <Description>Remove OneDrive's "Status" column from all views automatically.</Description>
  </en>
  <ja>
    <Name>OneDrive ステータス列を削除する</Name>
    <Description>OneDrive の「ステータス」列をすべてのビューから自動的に削除します。</Description>
  </ja>
</TablacusExplorer>
