<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2019.1.16</MinVersion>
    <pubDate>Wed, 15 Jan 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,4:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Auto backup</Name>
    <Description>Auto backup</Description>
  </en>
  <ja>
    <Name>自動バックアップ</Name>
  </ja>
  <zh>
    <Name>自動備份設定</Name>
  </zh>
</TablacusExplorer>
