<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2017.7.30</MinVersion>
    <pubDate>Sun, 30 Jul 2017 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Long press</Name>
    <Description>Long press. "1-"</Description>
  </en>
  <ja>
    <Name>長押し</Name>
    <Description>長押し "1-"</Description>
  </ja>
</TablacusExplorer>
