<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.28</MinVersion>
    <pubDate>Tue, 29 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Long press</Name>
    <Description>Long press. "1-"</Description>
  </en>
  <ja>
    <Name>長押し</Name>
  </ja>
  <zh>
    <Name>長按</Name>
  </zh>
</TablacusExplorer>
