<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2021.1.10</MinVersion>
    <pubDate>Wed, 13 Jan 2021 00:00:00 GMT</pubDate>
    <Options>Common:7,8,9:7</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Wildcard selection</Name>
    <Description>Wildcard selection</Description>
  </en>
  <ja>
    <Name>ワイルドカードで選択</Name>
  </ja>
  <zh>
    <Name>萬用字元選取</Name>
  </zh>
</TablacusExplorer>
