<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2021.4.4</MinVersion>
    <pubDate>Mon, 05 Apr 2021 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab groups button</Name>
    <Description>Tab groups button *"Tab groups" is required.</Description>
  </en>
  <ja>
    <Name>タブグループボタン</Name>
    <Description>タブグループボタン ※「タブグループ」が必要</Description>
  </ja>
</TablacusExplorer>
