<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2021.4.19</MinVersion>
    <pubDate>Thu, 22 Apr 2021 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Close on back</Name>
    <Description>If you can't go back, close the tab.</Description>
  </en>
  <ja>
    <Name>戻れない時はタブを閉じる</Name>
  </ja>
</TablacusExplorer>
