<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2020.8.24</MinVersion>
    <pubDate>Mon, 24 Aug 2020 00:00:00 UTC</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Confirm drop</Name>
    <Description>Confirm drop</Description>
  </en>
  <ja>
    <Name>ドロップを確認</Name>
  </ja>
</TablacusExplorer>
