<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.9.3</MinVersion>
    <pubDate>Fri, 11 Sep 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Multiple executions</Name>
    <Description>Lets you run multiple instances of Tablacus which share the same set of settings</Description>
  </en>
  <ja>
    <Name>複数起動</Name>
  </ja>
  <zh>
    <Name>多個執行個體</Name>
  </zh>
</TablacusExplorer>
