<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2019.1.25</MinVersion>
    <pubDate>Wed, 06 Feb 2019 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Multiple executions</Name>
    <Description>Multiple executions</Description>
  </en>
  <ja>
    <Name>複数起動</Name>
    <Description>複数起動</Description>
  </ja>
</TablacusExplorer>
