<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.21</Version>
    <MinVersion>2020.11.30</MinVersion>
    <pubDate>Tue, 01 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Horizontal Favorites bar</Name>
    <Description>Horizontal Favorites bar</Description>
  </en>
  <ja>
    <Name>お気に入りバー(水平)</Name>
  </ja>
  <zh>
    <Name>我的最愛列</Name>
  </zh>
</TablacusExplorer>
