<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.16</Version>
    <MinVersion>2019.6.8</MinVersion>
    <pubDate>Sat, 08 Jun 2019 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Horizontal Favorites bar</Name>
    <Description>Horizontal Favorites bar</Description>
  </en>
  <ja>
    <Name>お気に入り バー(水平)</Name>
  </ja>
  <zh>
    <Name>我的最愛列</Name>
  </zh>
</TablacusExplorer>
