<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.14</Version>
    <MinVersion>2018.12.25</MinVersion>
    <pubDate>Tue, 25 Dec 2018 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Horizontal Favorites bar</Name>
    <Description>Horizontal Favorites bar</Description>
  </en>
  <ja>
    <Name>お気に入り バー(水平)</Name>
    <Description>お気に入り バー(水平)</Description>
  </ja>
</TablacusExplorer>
