<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.15</Version>
    <MinVersion>2021.7.23</MinVersion>
    <pubDate>Thu, 19 Aug 2021 00:00:00 GMT</pubDate>
    <Options>Common:5:5</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Inner Forward</Name>
    <Description>Forward button of every pane</Description>
  </en>
  <fr>
    <Name>Avancer - interne</Name>
    <Description>Place le bouton "Avancer" dans chaque volet</Description>
  </fr>
  <ja>
    <Name>Inner 進む</Name>
    <Description>ペイン毎の進むボタン</Description>
  </ja>
  <zh>
    <Name>窗格內下一頁</Name>
  </zh>
</TablacusExplorer>
