<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.10</Version>
    <MinVersion>2025.6.8</MinVersion>
    <pubDate>Sat, 28 Jun 2025 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Regular Expression/Migemo Incremental Search</Name>
    <Description>Regular Expression/Migemo Incremental Search</Description>
  </en>
  <fr>
    <Name>Expression régulière/Recherche incrémentale Migemo</Name>
  </fr>
  <ja>
    <Name>正規表現/Migemo インクリメンタルサーチ</Name>
  </ja>
  <zh>
    <Name>規則運算式/Migemo 漸進式搜尋</Name>
  </zh>
</TablacusExplorer>
