<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2013.4.7</MinVersion>
    <pubDate>Sun, 7 Apr 2013 00:00:00 UTC</pubDate>
    <Options>dialogWidth: 320px; dialogHeight: 100px; resizable: yes; status: 0</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Stripes</Name>
    <Description>Display alternating stripes in the background when the detail view.
      Internet Explorer 8 or higher required
    </Description>
  </en>
  <ja>
    <Name>交互縞</Name>
    <Description>詳細表示の際に背景を交互縞で表示します。
      Internet Explorer 8以降が必要
    </Description>
  </ja>
</TablacusExplorer>
