<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2021.1.5</MinVersion>
    <pubDate>Fri, 07 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:8:8</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Toggle selection while inline renaming</Name>
    <Description>Toggle selection while inline renaming</Description>
  </en>
  <ja>
    <Name>名前の変更中に選択範囲を変更</Name>
  </ja>
</TablacusExplorer>
