<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.34</Version>
    <MinVersion>2019.6.22</MinVersion>
    <pubDate>Sat, 22 Jun 2019 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Favorites bar</Name>
    <Description>Favorites bar</Description>
  </en>
  <ja>
    <Name>お気に入り バー</Name>
  </ja>
  <zh>
    <Name>我的最愛欄</Name>
  </zh>
</TablacusExplorer>
