<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.22</Version>
    <MinVersion>2024.2.27</MinVersion>
    <pubDate>Wed, 28 Feb 2024 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Thumbnail plus</Name>
    <Description>Thumbnail extension</Description>
  </en>
  <ja>
    <Name>サムネイルプラス</Name>
    <Description>縮小版表示を拡張します</Description>
  </ja>
  <zh>
    <Name>進階縮圖</Name>
  </zh>
</TablacusExplorer>
