<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2018.6.24</MinVersion>
    <pubDate>Mon, 25 Jun 2018 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Thumbnail plus</Name>
    <Description>Thumbnail extension</Description>
  </en>
  <ja>
    <Name>サムネイル プラス</Name>
    <Description>縮小版表示を拡張します</Description>
  </ja>
</TablacusExplorer>