<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2019.5.24</MinVersion>
    <pubDate>Fri, 24 May 2019 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>NETSCAPE Bookmarks</Name>
    <Description>NETSCAPE Bookmarks</Description>
  </en>
  <ja>
    <Name>NETSCAPE ブックマーク</Name>
    <Description>NETSCAPE ブックマーク</Description>
  </ja>
  <zh>
    <Name>網景格式書籤</Name>
    <Description>網景格式書籤</Description>
  </zh>
</TablacusExplorer>
