<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.05</Version>
    <MinVersion>2020.9.3</MinVersion>
    <pubDate>Fri, 25 Sep 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>NETSCAPE Bookmarks</Name>
    <Description>NETSCAPE Bookmarks</Description>
  </en>
  <ja>
    <Name>NETSCAPEブックマーク</Name>
  </ja>
  <zh>
    <Name>網景格式書籤</Name>
  </zh>
</TablacusExplorer>
