<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2015.2.16</MinVersion>
    <pubDate>Thu, 19 Feb 2015 00:00:00 UTC</pubDate>
    <Options>dialogWidth: 640px; dialogHeight: 480px; resizable: yes; status: 0</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Folder settings</Name>
    <Description>Folder settings</Description>
  </en>
  <ja>
    <Name>フォルダ設定</Name>
    <Description>フォルダ設定</Description>
  </ja>
</TablacusExplorer>
