<TablacusExplorer>
  <General>
    <Version>1.26</Version>
    <MinVersion>2022.1.25</MinVersion>
    <pubDate>Thu, 27 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Clip folder</Name>
    <Description>Le dossier &quot;Vade-mecum&quot; est un aide-mémoire contenant toutes les informations que l&apos;utilisateur conserve, pour consultation.</Description>
  </en>
  <fr>
    <Name>Vade-mecum</Name>
    <Description>Clip folder is a folder that can hold items from all over the folder and represent them to the user in a single folder.</Description>
  </fr>
  <ja>
    <Name>クリップフォルダ</Name>
    <Description>クリップフォルダを使うとすべてのフォルダから任意の項目を、1つのフォルダにまとめることができます。</Description>
  </ja>
  <zh>
    <Name>剪貼資料夾</Name>
  </zh>
</TablacusExplorer>
