<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.20</Version>
    <MinVersion>2019.5.30</MinVersion>
    <pubDate>Thu, 30 May 2019 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Clip folder</Name>
    <Description>Clip folder is a folder that can hold items from all over the folder and represent them to the user in a single folder.</Description>
  </en>
  <ja>
    <Name>クリップフォルダ</Name>
    <Description>クリップフォルダを使うとすべてのフォルダから任意の項目を、1つのフォルダにまとめることができます。</Description>
  </ja>
  <zh>
    <Name>剪貼資料夾</Name>
  </zh>
</TablacusExplorer>
