<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2018.4.26</MinVersion>
    <pubDate>Fri, 27 Apr 2018 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab color plus</Name>
    <Description>Color the tab by wild card, or regular expression. Require "Tab plus"</Description>
  </en>
  <ja>
    <Name>タブカラープラス</Name>
    <Description>ワイルドカードや正規表現でタブに色を付けます。 ※タブプラスが必要</Description>
  </ja>
</TablacusExplorer>
