<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2025.6.8</MinVersion>
    <pubDate>Sat, 28 Jun 2025 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab color plus</Name>
    <Description>Color the tab by wild card, or regular expression. Require "Tab plus"</Description>
  </en>
  <fr>
    <Name>Tab color plus</Name>
    <Description>Colorier l&apos;onglet par caractère générique ou expression régulière. *&quot;Tab plus&quot; requis.</Description>
  </fr>
  <ja>
    <Name>タブカラープラス</Name>
    <Description>ワイルドカードや正規表現でタブに色を付けます。 ※タブプラスが必要</Description>
  </ja>
  <zh>
    <Name>頁籤色彩規則</Name>
  </zh>
</TablacusExplorer>
