<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2017.11.26</MinVersion>
    <pubDate>Mon, 27 Nov 2017 00:00:00 GMT</pubDate>
    <Options>Common:0,7:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Virtual recycle bin</Name>
    <Description>Recycle bin folder for network folder and removable disk.</Description>
  </en>
  <ja>
    <Name>仮想ごみ箱</Name>
    <Description>ネットワーク フォルダとリムーバブル ディスクのごみ箱フォルダ</Description>
  </ja>
</TablacusExplorer>
