<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.12.16</MinVersion>
    <pubDate>Thu, 17 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,7:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Virtual recycle bin</Name>
    <Description>Recycle bin folder for network folder and removable disk.</Description>
  </en>
  <ja>
    <Name>仮想ごみ箱</Name>
    <Description>ネットワークフォルダとリムーバブルディスクのごみ箱フォルダ</Description>
  </ja>
</TablacusExplorer>
