<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.12</Version>
    <MinVersion>2019.7.5</MinVersion>
    <pubDate>Thu, 07 Nov 2019 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Speed dial</Name>
    <Description>Show a list of up to 9 most frequently opened folders in new tabs</Description>
  </en>
  <ja>
    <Name>スピードダイヤル</Name>
  </ja>
  <zh>
    <Name>快速撥號</Name>
  </zh>
</TablacusExplorer>
