<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2017.3.12</MinVersion>
    <pubDate>Sun, 12 Mar 2017 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Label SQLite3</Name>
    <Description>Label(SQLite3) * Require Label and sqlite3.dll</Description>
  </en>
  <ja>
    <Name>ラベル SQLite3</Name>
    <Description>ラベル SQLite3 ※ラベルとsqlite3.dllが必要</Description>
  </ja>
</TablacusExplorer>
