<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2016.10.28</MinVersion>
    <pubDate>Tue, 01 Nov 2016 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Prevent Duplicate Tabs</Name>
    <Description>Prevent Duplicate Tabs</Description>
  </en>
  <ja>
    <Name>重複タブ禁止</Name>
    <Description>重複タブを禁止します。</Description>
  </ja>
</TablacusExplorer>
