<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2016.9.12</MinVersion>
    <pubDate>Mon, 12 Sep 2016 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <DllVersion>1.0.0.0</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Total Commander File System Plug-in</Name>
    <Description>Total Commander File System Plug-in</Description>
  </en>
  <ja>
    <Name>Total Commander ファイルシステムプラグイン</Name>
    <Description>Total Commander ファイルシステムプラグイン</Description>
  </ja>
</TablacusExplorer>
