<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2025.2.24</MinVersion>
    <pubDate>Thu, 06 Mar 2025 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab drive name</Name>
    <Description>Display drive letter additionally on tab.</Description>
  </en>
  <ja>
    <Name>タブにドライブ名も表示</Name>
  </ja>
  <zh>
    <Name>在頁籤顯示磁碟代號</Name>
  </zh>
</TablacusExplorer>
