<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2015.7.9</MinVersion>
    <pubDate>Thu, 9 Jul 2015 00:00:00 UTC</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>BSD license</License>
  </General>
  <en>
    <Name>Firebug Lite</Name>
    <Description>Firebug Lite https://getfirebug.com/firebuglite</Description>
  </en>
</TablacusExplorer>
