<TablacusExplorer>
  <General>
    <Version>1.11</Version>
    <MinVersion>2022.1.25</MinVersion>
    <pubDate>Tue, 01 Feb 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <DllVersion>1.1.3.0</DllVersion>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Icon overlay</Name>
    <Description>Icon overlay unlimited</Description>
  </en>
  <fr>
    <Name>Calque d&apos;icône</Name>
    <Description>Calque d&apos;icône illimité</Description>
  </fr>
  <ja>
    <Name>アイコンオーバーレイ</Name>
    <Description>アイコンオーバーレイを無制限に</Description>
  </ja>
  <zh>
    <Name>解除疊置圖示上限</Name>
  </zh>
</TablacusExplorer>
