<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2020.12.20</MinVersion>
    <pubDate>Mon, 21 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <DllVersion>1.1.3.0</DllVersion>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Icon overlay</Name>
    <Description>Icon overlay unlimited</Description>
  </en>
  <ja>
    <Name>アイコンオーバーレイ</Name>
    <Description>アイコンオーバーレイを無制限に</Description>
  </ja>
  <zh>
    <Name>解除疊置圖示上限</Name>
  </zh>
</TablacusExplorer>
