<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.06</Version>
    <MinVersion>2021.5.16</MinVersion>
    <pubDate>Sat, 05 Jun 2021 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Colored with attributes</Name>
    <Description>Colored with attributes</Description>
  </en>
  <ja>
    <Name>属性で色分け</Name>
  </ja>
  <zh>
    <Name>依屬性著色</Name>
  </zh>
</TablacusExplorer>
