<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.6.24</MinVersion>
    <pubDate>Wed, 24 Jun 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Select plus</Name>
    <Description>Selects items after background file operations.(Not perfect)</Description>
  </en>
  <ja>
    <Name>項目選択プラス</Name>
    <Description>バックグラウンドのファイル操作後に項目を選択します。(完璧ではありません)</Description>
  </ja>
</TablacusExplorer>
