<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2021.5.17</MinVersion>
    <pubDate>Sat, 03 Jul 2021 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Config>1</Config>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Launch the app on system startup</Name>
    <Description>Launch the app at system startup on Windows</Description>
  </en>
  <ja>
    <Name>システム起動時に起動する</Name>
  </ja>
</TablacusExplorer>
