<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2017.3.14</MinVersion>
    <pubDate>Tue, 14 Mar 2017 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>No emphasis</Name>
    <Description>Don't emphasize the selected column</Description>
  </en>
  <ja>
    <Name>選択したカラムを強調しない</Name>
    <Description>選択したカラムを強調しない</Description>
  </ja>
</TablacusExplorer>
