<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.32</Version>
    <MinVersion>2020.8.25</MinVersion>
    <pubDate>Wed, 26 Aug 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab groups</Name>
    <Description>Groups all panes containing several tabs into independent workspaces displayed as a tab bar</Description>
  </en>
  <ja>
    <Name>タブ グループ</Name>
    <Description>複数のタブを含むフォルダー群をグループ分けしたタブで管理</Description>
  </ja>
  <zh>
    <Name>工作區</Name>
  </zh>
</TablacusExplorer>
