<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.38</Version>
    <MinVersion>2021.4.5</MinVersion>
    <pubDate>Tue, 06 Apr 2021 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Tab groups</Name>
    <Description>Groups all panes containing several tabs into independent workspaces displayed as a tab bar</Description>
  </en>
  <ja>
    <Name>タブグループ</Name>
    <Description>複数のタブを含むフォルダー群をグループ分けしたタブで管理</Description>
  </ja>
  <zh>
    <Name>工作區</Name>
  </zh>
</TablacusExplorer>
