<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.9</MinVersion>
    <pubDate>Thu, 10 Dec 2020 00:00:00 GMT</pubDate>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Switch to previous pane</Name>
    <Description>Command: "Switch to previous pane", Environment: "%prevpane%".</Description>
  </en>
  <ja>
    <Name>前のペインに切り替える</Name>
    <Description>前のペインに切り替えるコマンドと、前のペインを表す環境変数「%prevpane%」を追加します。</Description>
  </ja>
  <zh>
  	<Name>上一個窗格</Name>
  </zh>
</TablacusExplorer>
