<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.20</Version>
    <MinVersion>2017.2.18</MinVersion>
    <pubDate>Sat, 18 Feb 2017 00:00:00 GMT</pubDate>
    <Options>Width: 320; Height: 150</Options>
    <Creator>Gaku</Creator>
    <URL>http://www.eonet.ne.jp/~gakana/tablacus/addons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Favorites bar</Name>
    <Description>Fovorites bar</Description>
  </en>
  <ja>
    <Name>お気に入り バー</Name>
    <Description>お気に入り バー</Description>
  </ja>
</TablacusExplorer>
