<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2022.1.24</MinVersion>
    <pubDate>Mon, 24 Jan 2022 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>TeraCopy</Name>
    <Description>File operations in TeraCopy.</Description>
  </en>
  <fr>
    <Name>TeraCopy</Name>
    <Description>Copier/déplacer les fichiers avec Teracopy</Description>
  </fr>
  <ja>
    <Name>TeraCopy</Name>
    <Description>TeraCopyでファイル操作を行います。</Description>
  </ja>
</TablacusExplorer>
