<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.08</Version>
    <MinVersion>2020.5.15</MinVersion>
    <pubDate>Fri, 15 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Color</Name>
    <Description>Color settings of font and background.</Description>
  </en>
  <ja>
    <Name>色</Name>
    <Description>文字とバックグラウンドの色の設定</Description>
  </ja>
</TablacusExplorer>
