<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.07</Version>
    <MinVersion>2018.4.11</MinVersion>
    <pubDate>Wed, 11 Apr 2018 00:00:00 GMT</pubDate>
    <Options>Common:5,6,7,8,9:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Find files</Name>
    <Description>Simple find files</Description>
  </en>
  <ja>
    <Name>ファイル検索</Name>
    <Description>単純なファイル検索</Description>
  </ja>
</TablacusExplorer>
