<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.04</Version>
    <MinVersion>2021.1.30</MinVersion>
    <pubDate>Mon, 01 Feb 2021 00:00:00 GMT</pubDate>
    <Options>Common:0,7,8,9:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Virtual name</Name>
    <Description>Virtual name</Description>
  </en>
  <ja>
    <Name>仮想名</Name>
  </ja>
  <zh>
    <Name>替代名稱</Name>
  </zh>
</TablacusExplorer>
