<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2020.6.17</MinVersion>
    <pubDate>Fri, 19 Jun 2020 00:00:00 GMT</pubDate>
    <Options>Common:0,6:0</Options>
    <Creator>Gaku</Creator>
    <Contributors>nkay08</Contributors>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Drive bar</Name>
    <Description>Drive bar</Description>
  </en>
  <ja>
    <Name>ドライブ バー</Name>
  </ja>
  <zh>
    <Name>磁碟列</Name>
  </zh>
</TablacusExplorer>
