<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.09</Version>
    <MinVersion>2018.2.25</MinVersion>
    <pubDate>Sun, 25 Feb 2018 00:00:00 GMT</pubDate>
    <Options>Location</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>DriveBar</Name>
    <Description>Drive Bar</Description>
  </en>
  <ja>
    <Name>ドライブ バー</Name>
    <Description>ドライブ バー</Description>
  </ja>
</TablacusExplorer>
