<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.26</MinVersion>
    <pubDate>Mon, 28 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Run on exit</Name>
    <Description>Run on exit</Description>
  </en>
  <ja>
    <Name>終了時に実行</Name>
  </ja>
</TablacusExplorer>
