<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2020.12.13</MinVersion>
    <pubDate>Mon, 14 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Underline</Name>
    <Description>Show underline</Description>
  </en>
  <ja>
    <Name>アンダーライン</Name>
  </ja>
  <zh>
  	<Name>底線</Name>
  </zh>
</TablacusExplorer>
