<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2017.3.15</MinVersion>
    <pubDate>Wed, 15 Mar 2017 00:00:00 GMT</pubDate>
    <Options>Common:5:5</Options>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Application Icon</Name>
    <Description>Application icon</Description>
  </en>
  <ja>
    <Name>アプリ アイコン</Name>
    <Description>アプリ アイコン</Description>
  </ja>
</TablacusExplorer>
