<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2025.6.8</MinVersion>
    <pubDate>Tue, 10 Jun 2025 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Auto restart</Name>
    <Description>Restart Tablacus Explorer after a period of inactivity.</Description>
  </en>
  <ja>
    <Name>自動的に再起動</Name>
    <Description>一定時間使用していない場合、Tablacus Explorerを再起動します。</Description>
  </ja>
</TablacusExplorer>
