<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.13</Version>
    <MinVersion>2020.2.18</MinVersion>
    <pubDate>Wed, 19 Feb 2020 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <DllVersion>1.1.0.1</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Susie Plug-in</Name>
    <Description>Susie Plug-in</Description>
  </en>
  <ja>
    <Name>Susie プラグイン</Name>
  </ja>
  <zh>
    <Name>Susie 外掛程式</Name>
  </zh>
</TablacusExplorer>
