<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2018.2.4</MinVersion>
    <pubDate>Sun, 04 Feb 2018 00:00:00 GMT</pubDate>
    <Options>Default</Options>
    <DllVersion>1.0.0.0</DllVersion>
    <Creator>Gaku</Creator>
    <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Susie Plug-in</Name>
    <Description>Susie Plug-in</Description>
  </en>
  <ja>
    <Name>Susie プラグイン</Name>
    <Description>Susie プラグイン</Description>
  </ja>
</TablacusExplorer>
