<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.22</Version>
    <MinVersion>2020.12.24</MinVersion>
    <pubDate>Fri, 25 Dec 2020 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <DllVersion>1.2.0.0</DllVersion>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Susie Plug-in</Name>
    <Description>Susie Plug-in</Description>
  </en>
  <ja>
    <Name>Susieプラグイン</Name>
  </ja>
  <zh>
    <Name>Susie 外掛程式</Name>
  </zh>
</TablacusExplorer>
