<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.03</Version>
    <MinVersion>2020.12.4</MinVersion>
    <pubDate>Sat, 05 Dec 2020 00:00:00 GMT</pubDate>
    <Creator>Gaku</Creator>
    <Level>2</Level>
    <Creator>Gaku</Creator>
    <URL>https://tablacus.github.io/TablacusExplorerAddons/</URL>
  </General>
  <en>
    <Name>Auto Disable IME</Name>
    <Description>Auto Disable IME</Description>
  </en>
  <ja>
    <Name>IMEを自動的に無効にする</Name>
  </ja>
  <zh>
    <Name>自動變成英文輸入</Name>
  </zh>
</TablacusExplorer>
